

p,
h1,
h2,
h3,
h4 {
    margin: 0;

}

ul,
ol {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}




ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.team-soc--color-light{
    color: #AFB1B8;
}
.client-link--color-light{
    color: #AFB1B8;
        border: 1px solid #AFB1B8;
}
.web--color-btx{
    color: var(--btx-title--color);
}
